 body{
  background-color: lightblue;
}

.App {
  display: grid;
  background-color: grey;
  grid-template-columns: repeat(2,2fr);
  grid-template-rows: repeat(2,2fr);
  justify-content: center;
  height: 1400px;
  grid-template-areas:
  
  "header header"
  "words words"
  
  
  ;
  grid-gap: 2%;
  text-align: center;
  color: black;
  background-color: lightblue;
  box-sizing: border-box;
  border-style: double black;
}






