/* 

.RandomWords{
    grid-area: random;
    font-size: large black;
    background-color: lightcoral;
    border: 50% double black;
    height: 80%;
    
} */



.RandButton{
    width: 30%;
    height: 20%;
    font-size: x-large;
    font-weight: bold;
   

}

/* font-size: xxx-large ;
    font-weight: bold;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
